.pairing-card-container {
    border-radius: 8px !important;
    .ant-card {}
    .ant-card-body {
        padding: 10px;
    }
    .pairing-image {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        width: 100%;
        height: 128px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .meta-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
        }
        .ant-rate {
            line-height: 0;
            li {
                margin: 0 2px;
                i {
                    &::before {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .meta-body {
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        align-items: center;
        .logo {
            margin-right: 15px;
            img {
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }
        }
        .bref {
            .text {}
        }
    }
}

.pairing-modal {
    .ant-modal-content {}
    .ant-modal-body {
        max-height: 800px;
        overflow-y: scroll;
    }
    .title-pairing {
        display: flex;
        padding-bottom: 16px;
        span {
            padding-right: 5px;
        }
    }
    .pairing-item-container {
        border-radius: 6px;
        cursor: pointer;
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
        .pairing-image {
            img {
                height: 100px;
                width: 100px;
                border-radius: 6px;
            }
        }
        .pairing-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 8px;
            .pairing-icon {
                display: flex;
                img {
                    height: 40px;
                    width: 32px;
                    margin-right: 8px;
                }
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}


.announce-modal-container {
    .logo-container {
        text-align: center;
        padding-bottom: 25px;
        img {
            width: 150px;
            ;
        }
    }
    .message {
        white-space: pre-line;
    }
    .explore-button {
        padding-top: 16px;
        text-align: center;
        button {
            width: 216px;
            height: 50px;
        }
    }
}