section {
    padding: 20px 0;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .section-title {
           
            color: #212121;
           
            letter-spacing: -0.1px;
        }
        .see-all {
            color: #F32126;
          
           
            letter-spacing: 0.5px;
        }
    }
    .content {
        padding-top: 20px;
     
    }
}