.about-truckster-container {
    width: 100%;
    background: #fff !important;
    overflow: hidden;
    .home-main-header {
        height: 536px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        overflow: auto;
        background-position: bottom;
        overflow: hidden;
        .content-city {
            max-width: 730px;
            width: 100%;
            text-align: center;
            z-index: 10;
            position: absolute;
            .title {
                white-space: pre-wrap;
                margin: 0 auto;
                padding-bottom: 16px;
            }
            .explore-breweries {
                padding-bottom: 32px;
            }
            .button-explore {
                button {
                    width: 217px;
                    height: 56px;
                    &:first-child {
                        margin-right: 16px;
                        @media only screen and (max-width: 450px) {
                            margin-right: 0;
                            margin-bottom: 8px;
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
        .cover {
            height: 536px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            .cover-mask {
                height: 536px;
                position: absolute;
                width: 100%;
                background-color: rgba(33, 33, 33, 0.8);
            }
        }
    }
    .about-body {
        white-space: pre-line;
        padding-top: 56px;
        margin: 0 auto;
        background: #fafafa;
        .carousel-item {
            .carousel-image {
                img {
                    width: 640px;
                    height: 560px;
                    @media only screen and (max-width: 768px) {
                        width: 377px;
                        height: 331px;
                    }
                    @media only screen and (max-width: 375px) {
                        width: 345px;
                        height: 303px;
                    }
                }
            }
        }
        .carousel-info {
            width: 360px;
            .carousel-bref {
                min-height: 360px;
                padding-top: 70px;
                .carousel-icon {
                    padding-bottom: 24px;
                    img {
                        padding: 16px;
                        border-radius: 50%;
                    }
                }
                .title {
                    padding-bottom: 24px;
                }
            }
            .carousel-controller {
                color: #d8d8d8;
                font-size: 24px;
                span {
                    padding-right: 8px;
                }
            }
        }
    }
    .upcoming__plan-container {
        background: #212121;
        margin-top: 120px;
        .upcoming__plan {
            .left {
                padding: 10px;
            }
            max-width: 1110px;
            margin: 0 auto;
            h3 {
                max-width: 450px;
            }
            .desc {
                margin-top: 16px;
                max-width: 460px;
            }
            button {

                width: 210px;
                height: 56px;
                margin-top: 24px;
            }
            .image__container {
                position: relative;
                height: 362px;
                img {
                    top: -40px;
                    position: absolute;
                    width: 628px;
                    object-fit: contain;
                }
            }
        }
    }
}

.selected-circle {
    border-radius: 50%;
    border: solid 2px #fa393d;
    width: 16px;
    height: 16px;
    margin-top: 5px;
}

.slick-dots {
    color: #d8d8d8;
    font-size: 24px;
    top: 360px;
    left: 171px;
    @media only screen and (max-width: 1014px) {
        position: relative;
        top: initial;
        left: initial;
    }
}